<%= form_for(Comment.new, url: article_comments_path(@article)) do |f| %>
<div class="well">
  <h4>Leave a Comment:</h4>
  <form role="form">
    <div class="input-group">
      <%= f.hidden_field :article_id, value: @article %>
      <span class="input-group-addon" id="sizing-addon2">@</span><!--
      <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon2"> -->
      <%= f.text_field :commenter, :class => "form-control", :placeholder => "Username", :type => "text", :'aria-describedby' => "sizing-addon2" %>
      </div> <p></p>
      <div class="form-group">
        <%= f.text_area :body, :class => "form-control", :row => 3, :placeholder => "Comment" %>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <% end %>
